<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Register | Members Only' }) %>
  <body>
    <%- include('partials/nav') %>
    <main>
      <h2>Register</h2>

      <%- include('partials/showErrors') %>

      <form action="/register" method="POST">
        <label for="fullname">Fullname</label>
        <input
          id="fullname"
          name="fullname"
          type="text"
          value="<%= 
        typeof body !== 'undefined' ? body.fullname || '' : '' %>"
        />

        <label for="username">Username</label>
        <input
          id="username"
          name="username"
          type="text"
          value="<%= typeof body !== 'undefined' ? body.username || '' : '' %>"
        />

        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          value="<%= typeof body !== 'undefined' ? body.password || '' : '' %>"
        />

        <label for="passwordConfirmation">Password confirmation</label>
        <input
          id="passwordConfirmation"
          name="passwordConfirmation"
          type="password"
          value="<%= typeof body !== 'undefined' ? body.passwordConfirmation || '' : '' %>"
        />

        <button type="submit">Register</button>
      </form>

      <p>Already have an account? <a href="/login">Login here</a>.</p>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
